body {
    background-color:#F7CAC9;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container {
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: #0092E4;
    box-shadow: 0 2px 4px rgba(242, 1, 1, 0.2);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    padding: 10px;
    width: 150px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  h1 {
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  p {
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  a {
    position: absolute;
    top: 12vh;
    left: 20%;
  }
  input[type="submit"] {
    display: flex;
    justify-content: center;
    background-color: #0092E4;
    color: white;
    padding: 12px 20px;
    border: none;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }

  h1 {
    margin-bottom: 20px;
    color: #0092E4;
  }
  
  p {
    font-size: 1.2em;
    margin-bottom: 10px;
    color:rgb(1, 1, 1);
  }
  
  .matches {
    color: blue;
  }
  
  .not-matches {
    color: red;
  }